@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: m12;
  src: url(../fonts/m12.TTF);
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 1.2rem;
}

* {
  font-family: "m12", system-ui;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.s1 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 18rem;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation: backgroundChange 16s infinite;
}
@keyframes backgroundChange {
  0% {
    background-image: url("../img/bg/bg1.png");
    transform: translateX(0);
  }
  33% {
    background-image: url("../img/bg/bg1.png");
    transform: translateX(0);
  }
  33.1% {
    transform: translateX(-100%);
  }
  34% {
    background-image: url("../img/bg/bg2.png");
    transform: translateX(0);
  }
  66% {
    background-image: url("../img/bg/bg2.png");
    transform: translateX(0);
  }
  66.1% {
    transform: translateX(-100%);
  }
  67% {
    background-image: url("../img/bg/bg3.png");
    transform: translateX(0);
  }
  99% {
    background-image: url("../img/bg/bg3.png");
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.navbar {
  position: relative;
  z-index: 2;
}

.s2 {
  padding-top: 3rem;
}
.s2 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 2px;
}
.s2 .news {
  padding: 1rem;
}
.s2 .news .newsimg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.s2 .news img {
  width: 100%;
  max-width: 37.5rem;
  height: auto;
  transition: transform 5s ease-in-out;
  transform-origin: center;
  animation: zoom 10s infinite alternate;
  padding-top: 1.3rem;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.s2 .newstitle {
  padding: 1.5rem 0 6rem 0;
}
.s2 .newstitle h2 {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: left;
  align-items: center;
  letter-spacing: 1.5px;
  line-height: 1;
  font-size: 1.3rem;
}
.s2 .newstitle a {
  position: relative;
  color: rgb(16, 197, 16);
  font-size: 0.6rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}
.s2 .newstitle a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgb(16, 197, 16);
  transition: all 0.3s ease;
}
.s2 .newstitle a:hover::after {
  width: 0;
  right: 100%;
}
.s2 .buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s2 .buttoncontainer .button {
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  color: #808080;
  border: 2px solid #808080;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.s2 .buttoncontainer .button:hover {
  color: #fff;
  border-color: #fff;
}
.s2 .buttoncontainer .button:active {
  transform: scale(0.95);
}

footer {
  padding: 8rem 1rem;
}
footer h3 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-family: "Archivo Black", sans-serif;
  color: white;
}
footer h4 {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  color: #808080;
  font-size: 0.5rem;
  font-family: "Press Start 2P", system-ui;
}
footer .mainmenu a {
  text-transform: none;
  font-family: "Archivo", sans-serif;
  font-size: 0.7rem;
  display: block;
  color: #cccccc;
  text-decoration: none;
  margin-bottom: 0.4rem;
  transition: color 0.3s ease;
}
footer .mainmenu a:hover {
  color: white;
}
footer .about {
  padding-top: 2.6rem;
}
footer .about p {
  text-transform: none;
  font-family: "Archivo", sans-serif;
  font-size: 0.7rem;
  display: block;
  color: #cccccc;
  text-decoration: none;
}

.s3main {
  padding-top: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s3main img {
  width: 93%;
  height: auto;
  padding-bottom: 3rem;
}
.s3main .s3button .buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s3main .s3button .buttoncontainer .button {
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  color: #808080;
  border: 2px solid #808080;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.s3main .s3button .buttoncontainer .button:hover {
  color: #fff;
  border-color: #fff;
}
.s3main .s3button .buttoncontainer .button:active {
  transform: scale(0.95);
}

.s1academy .academy {
  padding: 0 4rem;
  display: flex;
  justify-content: center;
}
.s1academy .academy img {
  padding: 4rem;
  height: 80vh;
}
.s1academy .academy .academytext {
  padding: 4rem;
}
.s1academy .academy .academytext p {
  font-family: "Archivo", sans-serif;
  color: rgba(255, 255, 255, 0.733);
  text-transform: none;
  font-size: 0.9rem;
}
.s1academy .academy .academytext h1 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.568627451);
}
.s1academy .academy .academytext h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.s1academy .academy .academytext h3 {
  color: white;
  font-size: 1rem;
}
.s1academy .academy .academytext h1, .s1academy .academy .academytext h2, .s1academy .academy .academytext h3 {
  text-transform: none;
  font-family: "Archivo Black", sans-serif;
}
.s1academy .academy .academytext .p1 {
  padding-top: 1.7rem;
}

.s1team {
  text-align: center;
  padding: 2rem;
}
.s1team h1 {
  font-size: 3rem;
}
.s1team .team1 .player1, .s1team .team1 .player2, .s1team .team1 .player3, .s1team .team1 .player4, .s1team .team1 .player5, .s1team .team1 .player6, .s1team .team2 .player1, .s1team .team2 .player2, .s1team .team2 .player3, .s1team .team2 .player4, .s1team .team2 .player5, .s1team .team2 .player6 {
  padding-top: 3rem;
}
.s1team .team1 .player1 img, .s1team .team1 .player2 img, .s1team .team1 .player3 img, .s1team .team1 .player4 img, .s1team .team1 .player5 img, .s1team .team1 .player6 img, .s1team .team2 .player1 img, .s1team .team2 .player2 img, .s1team .team2 .player3 img, .s1team .team2 .player4 img, .s1team .team2 .player5 img, .s1team .team2 .player6 img {
  height: 20rem;
  border: 0.15rem solid #fff;
  border-radius: 10px;
}
.s1team .team1 .player1 h2, .s1team .team1 .player2 h2, .s1team .team1 .player3 h2, .s1team .team1 .player4 h2, .s1team .team1 .player5 h2, .s1team .team1 .player6 h2, .s1team .team2 .player1 h2, .s1team .team2 .player2 h2, .s1team .team2 .player3 h2, .s1team .team2 .player4 h2, .s1team .team2 .player5 h2, .s1team .team2 .player6 h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.s1contact h1 {
  padding: 1 4rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
}
.s1contact .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.s1contact .socials a {
  margin-bottom: 0.8rem;
  display: inline-block;
}
.s1contact .socials a img {
  height: 4rem;
  padding: 0.2rem;
  width: 100%;
}

.s1news {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1news img {
  padding-top: 2rem;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  header .navbar {
    padding-left: 2rem;
  }
  header .navbar .navbar-collapse {
    position: static;
    height: auto;
    left: 0;
    display: flex;
  }
  header .navbar .navbar-collapse .navbar-nav {
    flex-direction: row;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item {
    text-align: left;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-family: "Press Start 2P", system-ui;
    padding: 10px 15px;
    font-size: 0.8rem;
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1.5px;
    background-color: #3cff00;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .s1 {
    height: auto;
    width: 100%;
    min-height: 85vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .s2 {
    padding-top: 10rem;
  }
  .s2 h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .s2 .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
  }
  .s2 .news article {
    flex: 1 1 30%;
    margin: 1rem;
    overflow: hidden;
    text-align: center;
  }
  .s2 .news article .newsimg img {
    width: 100%;
    height: auto;
    max-height: 20rem;
    transition: transform 5s ease-in-out;
    animation: zoom 10s infinite alternate;
  }
  .s2 .news .newstitle h2 {
    display: flex;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 1rem;
  }
  .s2 .news .newstitle h2 a {
    color: rgb(16, 197, 16);
    font-size: 0.8rem;
  }
  footer .mainmenu {
    padding: 2rem;
  }
  footer .mainmenu a {
    font-size: 1.1rem;
  }
  footer .about {
    padding: 2rem;
    width: 40rem;
  }
  footer .about p {
    font-size: 1.1rem;
  }
  footer .footertext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;
  }
  .s1team h1 {
    padding: 2rem;
    font-size: 3rem;
  }
  .s1team .team1, .s1team .team2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .s1team .team1 .player1, .s1team .team1 .player2, .s1team .team1 .player3, .s1team .team1 .player4, .s1team .team1 .player5, .s1team .team1 .player6, .s1team .team2 .player1, .s1team .team2 .player2, .s1team .team2 .player3, .s1team .team2 .player4, .s1team .team2 .player5, .s1team .team2 .player6 {
    padding: 1rem;
    transition: transform 0.3s ease;
  }
  .s1team .team1 .player1 img, .s1team .team1 .player2 img, .s1team .team1 .player3 img, .s1team .team1 .player4 img, .s1team .team1 .player5 img, .s1team .team1 .player6 img, .s1team .team2 .player1 img, .s1team .team2 .player2 img, .s1team .team2 .player3 img, .s1team .team2 .player4 img, .s1team .team2 .player5 img, .s1team .team2 .player6 img {
    height: 15rem;
    transition: transform 0.3s ease;
  }
  .s1team .team1 .player1:hover img, .s1team .team1 .player2:hover img, .s1team .team1 .player3:hover img, .s1team .team1 .player4:hover img, .s1team .team1 .player5:hover img, .s1team .team1 .player6:hover img, .s1team .team2 .player1:hover img, .s1team .team2 .player2:hover img, .s1team .team2 .player3:hover img, .s1team .team2 .player4:hover img, .s1team .team2 .player5:hover img, .s1team .team2 .player6:hover img {
    transform: scale(1.05);
  }
  .s1contact h1 {
    padding: 3rem 4rem;
    font-size: 3rem;
  }
  .s1contact .socials {
    padding-top: 2rem;
  }
  .s1contact .socials a {
    margin-bottom: 1.5rem;
    display: inline-block;
  }
  .s1contact .socials a img {
    height: 4rem;
    transition: transform 0.3s ease;
  }
  .s1contact .socials a img:hover {
    transform: scale(1.05);
  }
  .s1news img {
    height: 35rem;
    width: auto;
  }
}
.s3main img {
  width: 70%;
}

@media (max-width: 1024px) {
  .s1academy .academy {
    padding: 0 1rem;
    flex-direction: column;
  }
  .s1academy .academy img {
    display: none;
  }
  .s1academy .academy .academytext {
    padding: 1rem;
  }
  .s1academy .academy .academytext h1 {
    font-size: 1.5rem;
    color: #ffffff;
  }
  .s1academy .academy .academytext h2 {
    font-size: 1.2rem;
    color: #ffffff;
  }
  .s1academy .academy .academytext p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
  }
  .s1academy .academy .academytext h3 {
    font-size: 1rem;
    color: #ffffff;
  }
  .s1academy .academy .academytext .p1, .s1academy .academy .academytext .p2, .s1academy .academy .academytext .p3, .s1academy .academy .academytext .p4 {
    padding-top: 1rem;
  }
}
.headerslogan {
  padding: 1rem;
  background-color: rgb(14, 14, 14);
  position: relative;
  height: 2.6rem;
  overflow: hidden;
}
.headerslogan p {
  position: absolute;
  opacity: 0;
  width: 50%;
  left: 25%;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 0.4rem;
  color: hsl(0, 0%, 100%);
  animation: moveUpText 12s infinite;
  background-color: rgb(14, 14, 14);
}
.headerslogan p:nth-child(1) {
  animation-delay: 0s;
}
.headerslogan p:nth-child(2) {
  animation-delay: 4s;
}
.headerslogan p:nth-child(3) {
  animation-delay: 8s;
}
@keyframes moveUpText {
  0%, 20% {
    opacity: 0;
    transform: translateY(100%);
  }
  25%, 45% {
    opacity: 1;
    transform: translateY(0);
  }
  50%, 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.navbar {
  position: relative;
  background-color: #000000 !important;
}
.navbar .navbar-brand img {
  height: 3.5rem;
}
.navbar .navbar-collapse {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  transition: left 0.3s ease;
}
.navbar .navbar-collapse.show {
  left: 0;
}
.navbar .navbar-collapse .navbar-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  text-align: center;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #fff;
}
.navbar .navbar-toggler {
  z-index: 1000;
}

.container {
  padding-top: 12rem;
  margin: 30px auto;
  font-family: "Poppins", sans-serif;
}

.container .card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #000;
  border-radius: 0px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #fff;
}

body {
  background: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.btn.btn-primary {
  background-color: #000;
  color: #fff;
  box-shadow: none;
  border: none;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.btn.btn-primary:focus {
  box-shadow: none;
}

.container .card .img-box {
  width: 80px;
  height: 50px;
}

.container .card img {
  width: 100%;
  object-fit: fill;
}

.container .card .number {
  font-size: 24px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.container .card-body .btn.btn-primary .fab.fa-cc-paypal {
  font-size: 32px;
  color: #00ff40;
}

.fab.fa-cc-amex {
  color: #00ff40;
  font-size: 32px;
}

.fab.fa-cc-mastercard {
  font-size: 32px;
  color: red;
}

.fab.fa-cc-discover {
  font-size: 32px;
  color: orange;
}

.c-green {
  color: green;
}

.box {
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.btn.btn-primary.payment {
  background-color: #000;
  color: white;
  border-radius: 0px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
}

.form__div {
  height: 50px;
  position: relative;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
}

.form-control {
  width: 100%;
  height: 45px;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 0;
  outline: none;
  padding: 2px;
  background: none;
  color: #fff;
  z-index: 1;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
}

.form__label {
  position: absolute;
  left: 16px;
  top: 10px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.form-control:focus + .form__label {
  top: -8px;
  left: 12px;
  color: #00ff40;
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
}

.form-control:not(:placeholder-shown).form-control:not(:focus) + .form__label {
  top: -8px;
  left: 12px;
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
}

.form-control:focus {
  border: 1.5px solid #2bff00;
  box-shadow: none;
}

/*# sourceMappingURL=styles.css.map */
